html, body {
  margin:0;
  padding:0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
body{
  position: relative;
  -moz-user-select: none;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  width:100%;
  height:100%;
  line-height: 1.2;
}
//Toolbar
.toolbar-container{
  position: fixed;
  width: 100%;
  height: 32px;
  display: flex;
  justify-content: center;
  top: 10px;
  z-index: 100;
}
.toolbar {
  display:flex;
  border-radius: 4px;
  margin: 0 5px;
  padding: 0;
  box-shadow: 0 0 3px rgba(0, 124, 255, 0.35), 0 2px 4px #466a90, 0px 11px 23px -5px rgba(64, 100, 138, 0.4);
  li {
    float:left;
    list-style: none;
    width: 36px;
    &:first-child a {
      border-left: none;
      border-radius:4px 0 0 4px
    }
    &:last-child a {
      border-right: none;
      border-radius:0 4px 4px 0
    }
  }
  a{
    background: #f4f7f9;
    background: linear-gradient(to bottom, #f4f7f9 0%,#f7fafd 4%,#ecf2f7 30%,#e4ebf3 68%,#dce4ee 89%,#d5e0eb 92%,#c7d3e0 96%,#c6d2df 100%);
    border-left: 1px solid rgba(79,123,170,.4);
    border-right: 1px solid rgba(255,255,255,.3);
    color: #40648a;
    display: block;
    height: 100%;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    text-align: center;
    vertical-align: middle;
    i {
      font-size: 24px;
      line-height: 32px;
    }
    &:hover {
      background: #aac5e0;
      background: linear-gradient(to bottom, #aac5e0 0%,#adc8e4 4%,#a2c0de 30%,#9ab9da 68%,#92b2d5 89%,#8baed2 92%,#7da1c7 96%,#7ca0c6 100%);
      color: #fff;
      text-shadow: 0 1px 0 #40648a;
    }
    &.active {
      background: #8aafd5;
      background: linear-gradient(to bottom, #8aafd5 0%,#8db2d9 4%,#82aad3 30%,#7aa3cf 68%,#729cca 89%,#6b98c7 92%,#5d8bbc 96%,#5c8abb 100%);
      box-shadow: 0 2px 3px rgba(0,0,0,.3) inset;
      text-shadow: 0 -1px 0 #40648a;
    }
  }
}
//TransformControl
.move-handle{
  position: absolute;
  width:100.5%;
  height:8px;
  left:-1px;
  right:-1px;
  top:-5px;
  background: rgb(216, 216, 216);
}
.ctrl-container{
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  display: block;
}
.rot-handle {
  position: absolute;
  width: 12px;
  height: 12px;
  pointer-events: auto;
  top: -32px;
  left: 50%;
  margin-left: -6px;
  cursor: pointer;
}
.ctr-handle{
  position: absolute;
  width: 12px;
  height: 12px;
  pointer-events: auto;
}
.lh {
  top: 50%;
  left: -6px;
  margin-top: -6px;
  cursor: pointer;
}
.rh {
  top: 50%;
  right: -6px;
  margin-top: -6px;
  cursor: pointer;
}
.control {
  position: absolute;
  background: transparent;
}
.handle{
  width:4px;
  height:12px;
  padding:0 4px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 0 5px 1px rgba(14,19,24,.15),0 0 0 1px rgba(14,19,24,.15);
}
//RichText
.editbox {
  position: absolute;
  font-size: 20px;
  height: auto;
  padding:0;
  margin:0;
  &:hover {
    outline: 1px dashed lightskyblue;
  }
}
//Page
.page {
  position: relative;
  display: flex;
  height:100%;
  width: 100%;
}